.container-filme{
    display: flex;
    flex-direction: column;

    img{
        width: 200px;
        min-height: 200px;
    }

    div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
}