.Sobre{
    background-color: bisque;
    font-family: 'Krona One';
}

.sobre-container{
    text-align: center;
}

.sobre-container p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
}

.sobre-container .imagem img{
    height: 600px;
}


  
  

